<div class="row">
  <div class="col-md-6">
    <form class="form" [formGroup]="recipeForm" (ngSubmit)="onSave()">
      <div class="form-group">
        <label>Recipe Name</label>
        <input
          type="text"
          formControlName="name"
          class="form-control"
          placeholder="Enter Recipe Name"
        />
      </div>
      <div class="form-group">
        <label>Recipe Image</label>
        <input
          type="url"
          formControlName="image"
          class="form-control"
          placeholder="Enter Image Url"
        />
      </div>
      <div class="form-group">
        <img [src]="recipeImage" alt="data" />
      </div>
      <div class="form-group">
        <label>Recipe Description</label>
        <textarea
          formControlName="description"
          rows="5"
          class="form-control"
        ></textarea>
      </div>
      <div class="form-group" formArrayName="ingreds">
        <div
          class="row"
          *ngFor="let ingredControl of ingredientsControls; let i = index"
          [formGroupName]="i"
        >
          <div class="col-sm-9">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Ingred...."
                    formControlName="ingred"
                  />
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input
                    class="form-control"
                    type="number"
                    placeholder="Amount"
                    formControlName="amount"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3 mr-0">
            <button
              type="button"
              class="btn btn-success"
              (click)="addNewIngred()"
            >
              +
            </button>
            |
            <button
              type="button"
              class="btn btn-danger"
              (click)="removeIngred(i)"
              [disabled]="ingredientsControls.length == 1"
            >
              X
            </button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" [disabled]="!this.recipeForm.valid">
          {{ isEdit ? "Update" : "Save" }}
        </button>
      </div>
    </form>
  </div>
  <div class="col-md-6"></div>
</div>

<app-snack-bar
  *ngIf="(isSavingSucess || isError) && !isSaved"
  [isError]="isError ? true : false"
  [url-data]="'recipe'"
  [message]="(isError ? 'Error on Saving !' : 'Saved Done!') | titlecase"
></app-snack-bar>

<app-snack-bar
  *ngIf="isEditSuccess || isEditError"
  [isError]="isEditError ? true : false"
  [url-data]="'recipe'"
  [message]="(isEditError ? 'Error on Updating !' : 'Update Done!!') | titlecase"
></app-snack-bar>

