<div class="row">
  <div class="col-sm-12">
    <button class="btn btn-primary pull-right mb-2" (click)="onEdit()"> Edit..</button>
  </div>
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header text-center">
        {{ selectedRecipe.name | titlecase }}
      </div>
      <div class="card-body">
        <div class="text-center">
          <img
            [src]="selectedRecipe.imageUrl"
            class="img-thumbnail"
            alt="recipe.name"
          />
        </div>
        <p class="card-text">
          {{ selectedRecipe.description }}
        </p>
        <h5 class="card-title">
          Created by- {{ selectedRecipe.createdBy.email | titlecase }}
        </h5>
      </div>
      <div class="card-footer text-muted">
        {{ selectedRecipe.createdOn | date }}
      </div>
    </div>
  </div>
</div>


