<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-3" style="padding: 24px;">
      <img [src]="recipe.imageUrl" class="img-thumbnail" alt="recipe.name" />
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <p class="card-title">{{ recipe.name | titlecase }}</p>
        <p class="card-text">
          {{ recipe.description }}
        </p>
        <div class="row card-text">
          <div class="col-md-6">
            <small class="text-muted">{{ recipe.createdOn | date }}</small>
          </div>
          <div class="col-md-6">
            <small class="text-muted">
              Created By- {{ recipe.createdBy.email | titlecase }}
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
